/* ==== Color Palette ====

Body  #333

== End of Color Palette == */

*{
    padding: 0;
    margin: 0;
}

body {
    background: #eee;
    font-family: Helvetica;
}

/* Header */

.container {
    width: 800px;
    margin: 0 auto;
}

#top {
    background: url('../images/back-top.png') center center no-repeat;
    height: 300px;
    position: relative;
}

.container #header {
    width: 300px;
    margin: 80px auto;
    padding: 5px 10px;
    position: absolute;

}

#top h1 span {
    color: rgb(0, 197, 43);
}

#header h1 {
    color: whitesmoke;
}

#header p {
    color: whitesmoke;
}

#header #link {
    color: rgb(255, 255, 255);
    font-size: small;
    margin: 5px 0 0 200px;
    display: block;
    background: url('../images/button.png') top left repeat;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

#link a {
    text-decoration: none;
    color: white;

}

#link a:hover {
    color: rgb(253, 255, 131);
}

/* Second Part */

#main {
    background: rgb(245, 245, 245);
    height: 900px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    margin: -80px auto 20px auto;
    float: inherit;
    position: relative;
}

/* Sidebar box 1 */

#sidebar {
    width: 240px;
    height: auto;
    margin: auto auto 0 5px;
}

.sidbar-box1 {
    margin: 10px 5px 5px 10px;
    padding: 15px 0 10px 10px;
    line-height: 40px;
}

.sidbar-box1 ul {
    text-decoration: none;
    list-style: none;

}

.sidbar-box1 ul li {
    border-bottom: 2px solid rgb(236, 236, 236);
    

}

.sidbar-box1 ul li a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    padding-left: 15px;
}

.sidbar-box1 ul li a:hover {
    background: url('../images/hover-arrow.png') left no-repeat;
    margin-left: 5px;
}

/* Sidebar box 2 */

.sidebar-box2 {
    margin: 25px 5px 5px 20px;
    padding: 15px 0 10px 10px;
    background: white;
    height: 230px;
    border-radius: 10px;
}

.login-top {
    background: rgb(233, 233, 233);
    height: 25px;
    padding: 12px 0 0 10px;
    margin: -15px 0 0 -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-top h3 {
    color: rgb(94, 94, 94);
    font-weight: normal;
    font-size: 15px;
}

.credential {
    margin: 10px 0 20px 5px;
    padding: 5px 0 0 0;
}

.credential span {
    font-size: 12px;
}

.credential input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    box-shadow: inset 3px 2px 4px 1px rgba(0, 0, 0, 0.062);
}

.sub input[type="submit"] {
    padding: 5px 15px;
    font-size: 12px;
    margin-left: 5px;
    color: white;
    background: url('../images/button.png') top left repeat;
    border: none;
    border-radius: 5px;
}

/* Sidebar box 3 */

.sidebar-box3 {
    margin: 25px 5px 5px 20px;
    padding: 15px 0 10px 10px;
    background: white;
    height: 230px;
    border-radius: 10px;
}

.updates {
    background: rgb(233, 233, 233);
    height: 25px;
    padding: 12px 0 0 10px;
    margin: -15px 0 0 -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.updates h3 {
    color: rgb(94, 94, 94);
    font-weight: normal;
    font-size: 15px;
}

.update-block {
    margin: 15px 0 5px 0;
    padding: 5px 5px 5px 30px;
    border-bottom: 1px solid whitesmoke;
    background: url('../images/star.png') top left no-repeat;
    float: left;
}

.update-block p {
    font-size: 13px;
}

.update-block time {
    font-size: 10px;
    color: rgb(45, 189, 45);
}

/* col */

.col {

    float: right;
    height: 880px;
    position: relative;
    clear:both;
    margin: -840px 0 0 0;
    width: 500px;
    display: block;   
}

.col h2 {
    text-align: center;
    padding: 30px 0;
    margin-bottom: 10px;
}

/* Contact Us */

.field {
    padding: 10px 5px;
}

.field label {
    font-size: 20px;
}

.field input[type="text"] {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    padding: 5px 6px;
    font-size: 18px;
    color: darkseagreen;

}

textarea {
    width: 455px;
    border: none;
    border: 40px;
    padding: 5px 5px;
    margin: 5px 5px 5px 0;
    font-size: 15px;
    
}

.send-button input[type="submit"] {
    width: 94%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background: darkseagreen;
    padding: 5px 5px;
    margin: 0 0 10px 5px;
}

.send-button input[type="submit"]:hover {
    background: rgb(119, 156, 119);
    cursor: pointer;
}

/* Address */

address {
    line-height: 20px;
    margin: 0 0 0 10px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

address li {
    text-decoration: none;
    list-style: none;
}

/* Horizontal Line Seperator */

.separator{
    display: flex;
    align-items: center;
    margin: 20px 40px;
}
  
.separator h3{
    padding: 0 2rem; /* creates the space */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.separator .line{
    flex: 1;
    height: 3px;
    background-color: rgb(231, 231, 231);
}

/* FOOTER */

#copyright {
    display: block;
    background: rgb(46, 46, 46);
    padding: 50px auto;
    height: 40px;
    color: whitesmoke;
    font-size: 12px;
}

.credit {
    width: 800px;
    margin: auto auto;
}



.credit .cop {
    padding: 14px 0 0 0;
    text-align: center;
}

.sidebar-box3 .block {
    font-size: 12px;
    margin: 10px 0 0 5px;
    display: block;
    position: relative;
    color: darkgreen;
    font-weight: bold;
}

.down {
    margin: 10px 0 10px 0;
    float: left;
    padding: 10px 10px 10px 10px;
    background: rgb(41, 184, 5);
    border-radius: 10px;
}

.down p {
    font-size: 11px;
}

.down a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}


/* Clear Fix */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
